<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/css/theme.blue.css'>
        <link rel='stylesheet' href='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.css'>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='http://mottie.github.com/tablesorter/js/jquery.tablesorter.min.js'></script>
        <script src='http://mottie.github.com/tablesorter/addons/pager/jquery.tablesorter.pager.js'></script>
        <script src='catalogos/RestClient_Clientes.js'></script>
    </head>
    <body>
        <div id='create'></div>

        <table id='datatable' class='tablesorter-blue'>
        </table>
        <div class='pager' id='pager'>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/first.png' class='first' alt='First'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/prev.png' class='prev' alt='Prev'/>
            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/next.png' class='next' alt='Next'/>
            <img src='http://mottie.github.com/tablesorter/addons/pager/icons/last.png' class='last' alt='Last'/>
            <select class='pagesize'>
                <option selected='selected' value='10'>10</option>
                <option value='20'>20</option>
                <option value='30'>30</option>
                <option value='40'>40</option>
            </select>
        </div>
        <br>

        <div id='details'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-create'>
            <!--
            Put your controls to create new entity here.

            Class 'new' is used to listen on events in JS code.
            -->
            <button class='new'>Create</button>
        </script>

        <script type='text/template' id='thead'>
            <thead>
            <tr>
            <th>clienteId</th>
            <th>apellidos</th>
            <th>password</th>
            <th>telefono</th>
            <th>nombre</th>
            <th>correoElectronico</th>
            <th>activo</th>
            </tr>
            </thead>
        </script>
        <script type='text/template' id='tpl-clientes-list-item'>
            <td><a href='#<%= clienteId %>'><%= clienteId %></a></td>
            <td><%= apellidos %></td>
            <td><%= password %></td>
            <td><%= telefono %></td>
            <td><%= nombre %></td>
            <td><%= correoElectronico %></td>
            <td><%= activo %></td>
        </script>

        <script type='text/template' id='tpl-clientes-details'>
            <div>
            <table>
            <tbody>
            <tr><td>Id</td>
            <td>
            <input type='text' id='clienteId' name='id' value='<%= typeof(clienteId)!== "undefined" ? clienteId : "" %>'  />
            </td>
            </tr>
            <tr>
            <td>apellidos</td><td><input type='text' id='apellidos' name='apellidos' value='<%= apellidos %>'/></td></tr>
            <tr>
            <td>password</td><td><input type='text' id='password' name='password' value='<%= password %>'/></td></tr>
            <tr>
            <td>telefono</td><td><input type='text' id='telefono' name='telefono' value='<%= telefono %>'/></td></tr>
            <tr>
            <td>nombre</td><td><input type='text' id='nombre' name='nombre' value='<%= nombre %>'/></td></tr>
            <tr>
            <td>correoElectronico</td><td><input type='text' id='correoElectronico' name='correoElectronico' value='<%= correoElectronico %>'/></td></tr>
            <tr>
            <td>activo</td><td><input type='text' id='activo' name='activo' value='<%= activo %>'/></td></tr>
            </tbody>
            </table>
            <!--
            Put your controls to create new entity here.
            Classes 'save' and 'delete' are used to listen on events in JS code.
            -->
            <button  class='save'>Save</button>
            <button  class='delete'>Delete</button>
            </div>
        </script>


    </body>
</html>
